



@font-face {
    font-family: 'alegreya_sans';
    src: url('alegreyasanssc-regular-webfont.woff2') format('woff2'),
         url('alegreyasanssc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'amatic_bold';
    src: url('amaticsc-bold-webfont.woff2') format('woff2'),
         url('amaticsc-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'amatic_regular';
    src: url('amaticsc-regular-webfont.woff2') format('woff2'),
         url('amaticsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arimo';
    src: url('arimo-regular-webfont.woff2') format('woff2'),
         url('arimo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sans';
    src: url('josefinsans-regular-webfont.woff2') format('woff2'),
         url('josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto-light';
    src: url('roboto-light-webfont.woff2') format('woff2'),
         url('roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto-regular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}