.list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1% 0;
    max-width: 1400px;
    margin: 0 auto
}

.wrapper {
    width: 48%;
    max-width: 150px;
    position: relative;
    margin: 1%
}

.wrapper:after {
    display: block;
    content: '';
    padding-top: 140%
}

.item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.7)
}

.coverbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden
}

.coverbox:hover > .movie_info {
    opacity: 1
}

.movie_info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    opacity: 0;
    transition: 0.2s ease;
}

.quick_actions {
    height: 34px;
    position: relative;
    top: 0;
}

.quick_actions > div {
    position: absolute;
}

.quick_actions > div:nth-child(1) {
    top: 0;
    left: 0;
}

.quick_actions > div:nth-child(2) {
    top: 0;
    right: 0;
}

.listadd {
    right: 2px;
    background-image: url(../icons/ic_add_circle_outline_white_24px.svg)
}

.listadd:hover {
    background-image: url(../icons/ic_add_circle_white_24px.svg)
}

.like {
    left: 2px;
    background-image: url(../icons/ic_favorite_border_white_24px.svg)
}

.like:hover {
    background-image: url(../icons/ic_favorite_white_24px.svg)
}

.info {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}

.info h3 {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    font-family: roboto-regular;
    color: #f5f5f5;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    transform: translateY(25%);
    cursor: pointer;
}

.info h3 span {
    display: block;
    font-size: 12px;
    color: #ccc
}